.vscode/
.idea/
[Bb]uild/
[Bb]uild-release/
[Bb]uild-debug/
[Bb]uild-native/
[Bb]uild-macos/
[Bb]uild-linux/
[Bb]uild-windows/
[Bb]uild-emscripten/
[Bb]uild-web/
android/app/.cxx
android/app/build
.cache/
Editor/
.vscode/


CMakeLists.txt.user
*.DS_Store
